.headerWrapper {
    box-shadow: 0px 3px 5px #eee;
}
.header {
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
}

.header ul {
    display: flex;
    justify-content: end;
    padding-right: 40px;
    flex-direction: row-reverse;
}

.header ul li {
    margin-left: 20px;
    cursor: pointer;
}
